In [73]:
!pip install pandas
!pip install sklearn
!pip install matplotlib

Requirement already satisfied: pandas in /srv/conda/lib/python3.6/site-packages (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/lib/python3.6/site-packages (from pandas) (2.7.5)
Requirement already satisfied: pytz>=2011k in /srv/conda/lib/python3.6/site-packages (from pandas) (2018.7)
Requirement already satisfied: numpy>=1.9.0 in /srv/conda/lib/python3.6/site-packages (from pandas) (1.15.4)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)
Requirement already satisfied: sklearn in /srv/conda/lib/python3.6/site-packages (0.0)
Requirement already satisfied: scikit-learn in /srv/conda/lib/python3.6/site-packages (from sklearn) (0.20.1)
Requirement already satisfied: scipy>=0.13.3 in /srv/conda/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.8.2 in /srv/conda/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.15.4)
Requirement already satisfied: matplotlib in /srv/conda/lib/python3.6/site-packages (3.0.2)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/lib/python3.6/site-packages (from matplotlib) (2.7.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /srv/conda/lib/python3.6/site-packages (from matplotlib) (2.3.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/lib/python3.6/site-packages (from matplotlib) (1.0.1)
Requirement already satisfied: numpy>=1.10.0 in /srv/conda/lib/python3.6/site-packages (from matplotlib) (1.15.4)
Requirement already satisfied: cycler>=0.10 in /srv/conda/lib/python3.6/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.6/site-packages (from python-dateutil>=2.1->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in /srv/conda/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib) (40.6.2)

In [74]:
import pandas as pd

In [75]:
df1 = pd.read_csv('https://raw.githubusercontent.com/LaGuer/JupyterDataScienceWorkflow/master/dataset/CRSW-AMIS.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/LaGuer/JupyterDataScienceWorkflow/master/dataset/oecd-CRSW-crop-production.csv')
df3 = pd.read_csv('../data/concat_3.csv')

In [76]:
df1

,Data Source,Country/Region Name,Product Name,Element Name,Units,Year,Value
0,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2018/19,29.847000
1,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2017/18,28.733000
2,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2016/17,25.981412
3,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2015/16,22.059707
4,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2014/15,22.675300
5,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2013/14,15.944200
6,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2012/13,28.808000
7,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2011/12,21.599000
8,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2010/11,19.112000
9,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2009/10,14.888000
10,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2008/09,13.878000
11,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2007/08,16.746000
12,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2006/07,14.429000
13,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2005/06,11.927000
14,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2004/05,12.852000
15,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2003/04,10.340000
16,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2002/03,12.347000
17,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2001/02,9.584000
18,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2000/01,12.803000
19,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2018/19,28.977000
20,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2017/18,29.276510
21,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2016/17,24.399095
22,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2015/16,23.001030
23,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2014/15,19.697820
24,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2013/14,23.389770
25,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2012/13,23.847500
26,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2011/12,21.713000
27,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2010/11,19.899000
28,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2009/10,11.600000
29,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2008/09,20.381000
...,...,...,...,...,...,...,...
39877,CBS,World,Wheat,Utilization,Million tonnes,2010/11,656.738848
39878,CBS,World,Wheat,Utilization,Million tonnes,2009/10,654.927738
39879,CBS,World,Wheat,Utilization,Million tonnes,2008/09,647.223158
39880,CBS,World,Wheat,Utilization,Million tonnes,2007/08,619.798574
39881,CBS,World,Wheat,Utilization,Million tonnes,2006/07,622.249323
39882,CBS,World,Wheat,Utilization,Million tonnes,2005/06,623.472211
39883,CBS,World,Wheat,Utilization,Million tonnes,2004/05,617.046712
39884,CBS,World,Wheat,Utilization,Million tonnes,2003/04,600.525300
39885,CBS,World,Wheat,Utilization,Million tonnes,2002/03,610.844500
39886,CBS,World,Wheat,Utilization,Million tonnes,2001/02,601.903400
39887,CBS,World,Wheat,Utilization,Million tonnes,2000/01,590.202100
39888,CBS,World,Wheat,Yield,Tonnes/Ha,2018/19,3.345000
39889,CBS,World,Wheat,Yield,Tonnes/Ha,2017/18,3.446000
39890,CBS,World,Wheat,Yield,Tonnes/Ha,2016/17,3.430000
39891,CBS,World,Wheat,Yield,Tonnes/Ha,2015/16,3.321000
39892,CBS,World,Wheat,Yield,Tonnes/Ha,2014/15,3.297000
39893,CBS,World,Wheat,Yield,Tonnes/Ha,2013/14,3.241000
39894,CBS,World,Wheat,Yield,Tonnes/Ha,2012/13,2.995000
39895,CBS,World,Wheat,Yield,Tonnes/Ha,2011/12,3.157000
39896,CBS,World,Wheat,Yield,Tonnes/Ha,2010/11,2.942000
39897,CBS,World,Wheat,Yield,Tonnes/Ha,2009/10,3.026000
39898,CBS,World,Wheat,Yield,Tonnes/Ha,2008/09,3.032000
39899,CBS,World,Wheat,Yield,Tonnes/Ha,2007/08,2.811000
39900,CBS,World,Wheat,Yield,Tonnes/Ha,2006/07,2.792000
39901,CBS,World,Wheat,Yield,Tonnes/Ha,2005/06,2.841000
39902,CBS,World,Wheat,Yield,Tonnes/Ha,2004/05,2.892000
39903,CBS,World,Wheat,Yield,Tonnes/Ha,2003/04,2.679000
39904,CBS,World,Wheat,Yield,Tonnes/Ha,2002/03,2.668000
39905,CBS,World,Wheat,Yield,Tonnes/Ha,2001/02,2.734000
39906,CBS,World,Wheat,Yield,Tonnes/Ha,2000/01,2.701000

In [77]:
df2

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,CROPYIELD,RICE,TONNE_HA,A,1990,5.374114,NaN
1,AUS,CROPYIELD,RICE,TONNE_HA,A,1991,5.374114,NaN
2,AUS,CROPYIELD,RICE,TONNE_HA,A,1992,5.897753,NaN
3,AUS,CROPYIELD,RICE,TONNE_HA,A,1993,5.903150,NaN
4,AUS,CROPYIELD,RICE,TONNE_HA,A,1994,5.221311,NaN
5,AUS,CROPYIELD,RICE,TONNE_HA,A,1995,5.457576,NaN
6,AUS,CROPYIELD,RICE,TONNE_HA,A,1996,5.925000,NaN
7,AUS,CROPYIELD,RICE,TONNE_HA,A,1997,4.257047,NaN
8,AUS,CROPYIELD,RICE,TONNE_HA,A,1998,5.545181,NaN
9,AUS,CROPYIELD,RICE,TONNE_HA,A,1999,6.270739,NaN
10,AUS,CROPYIELD,RICE,TONNE_HA,A,2000,5.924013,NaN
11,AUS,CROPYIELD,RICE,TONNE_HA,A,2001,5.506511,NaN
12,AUS,CROPYIELD,RICE,TONNE_HA,A,2002,6.191418,NaN
13,AUS,CROPYIELD,RICE,TONNE_HA,A,2003,5.521278,NaN
14,AUS,CROPYIELD,RICE,TONNE_HA,A,2004,6.380197,NaN
15,AUS,CROPYIELD,RICE,TONNE_HA,A,2005,5.555994,NaN
16,AUS,CROPYIELD,RICE,TONNE_HA,A,2006,4.414967,NaN
17,AUS,CROPYIELD,RICE,TONNE_HA,A,2007,6.556218,NaN
18,AUS,CROPYIELD,RICE,TONNE_HA,A,2008,5.436050,NaN
19,AUS,CROPYIELD,RICE,TONNE_HA,A,2009,5.558334,NaN
20,AUS,CROPYIELD,RICE,TONNE_HA,A,2010,5.643453,NaN
21,AUS,CROPYIELD,RICE,TONNE_HA,A,2011,6.940944,NaN
22,AUS,CROPYIELD,RICE,TONNE_HA,A,2012,6.345276,NaN
23,AUS,CROPYIELD,RICE,TONNE_HA,A,2013,5.943481,NaN
24,AUS,CROPYIELD,RICE,TONNE_HA,A,2014,6.852982,NaN
25,AUS,CROPYIELD,RICE,TONNE_HA,A,2015,7.283640,NaN
26,AUS,CROPYIELD,RICE,TONNE_HA,A,2016,6.610538,NaN
27,AUS,CROPYIELD,RICE,TONNE_HA,A,2017,7.267326,NaN
28,AUS,CROPYIELD,RICE,TONNE_HA,A,2018,6.791594,NaN
29,AUS,CROPYIELD,RICE,TONNE_HA,A,2019,6.859590,NaN
...,...,...,...,...,...,...,...,...
16210,OECD,CROPYIELD,SOYBEAN,THND_HA,A,1998,30573.711455,NaN
16211,OECD,CROPYIELD,SOYBEAN,THND_HA,A,1999,31225.734814,NaN
16212,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2000,31235.022753,NaN
16213,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2001,31440.092696,NaN
16214,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2002,31067.659284,NaN
16215,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2003,31232.052480,NaN
16216,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2004,31924.305609,NaN
16217,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2005,31178.835390,NaN
16218,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2006,32287.242853,NaN
16219,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2007,27850.975313,NaN
16220,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2008,32074.317413,NaN
16221,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2009,33022.055034,NaN
16222,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2010,33347.113923,NaN
16223,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2011,32305.944826,NaN
16224,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2012,33348.143724,NaN
16225,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2013,33618.012134,NaN
16226,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2014,36652.252330,NaN
16227,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2015,36645.182825,NaN
16228,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2016,37014.156175,NaN
16229,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2017,40652.191603,NaN
16230,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2018,40702.048074,NaN
16231,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2019,40630.339482,NaN
16232,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2020,40805.712495,NaN
16233,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2021,40955.807638,NaN
16234,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2022,41182.241385,NaN
16235,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2023,41397.290107,NaN
16236,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2024,41602.683420,NaN
16237,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2025,41814.163075,NaN
16238,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2026,42021.977275,NaN
16239,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2027,42233.761475,NaN

In [78]:
df3

     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [79]:
#row_concat = pd.concat([df1, df2, df3])
row_concat = pd.concat([df1, df2])
row_concat

/srv/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,Country/Region Name,Data Source,Element Name,FREQUENCY,Flag Codes,INDICATOR,LOCATION,MEASURE,Product Name,SUBJECT,TIME,Units,Value,Year
0,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,29.847000,2018/19
1,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,28.733000,2017/18
2,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,25.981412,2016/17
3,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,22.059707,2015/16
4,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,22.675300,2014/15
5,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,15.944200,2013/14
6,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,28.808000,2012/13
7,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,21.599000,2011/12
8,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,19.112000,2010/11
9,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,14.888000,2009/10
10,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,13.878000,2008/09
11,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,16.746000,2007/08
12,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,14.429000,2006/07
13,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,11.927000,2005/06
14,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,12.852000,2004/05
15,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,10.340000,2003/04
16,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,12.347000,2002/03
17,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,9.584000,2001/02
18,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,12.803000,2000/01
19,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,28.977000,2018/19
20,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,29.276510,2017/18
21,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,24.399095,2016/17
22,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,23.001030,2015/16
23,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,19.697820,2014/15
24,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,23.389770,2013/14
25,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,23.847500,2012/13
26,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,21.713000,2011/12
27,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,19.899000,2010/11
28,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,11.600000,2009/10
29,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,20.381000,2008/09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16210,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,1998.0,NaN,30573.711455,NaN
16211,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,1999.0,NaN,31225.734814,NaN
16212,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2000.0,NaN,31235.022753,NaN
16213,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2001.0,NaN,31440.092696,NaN
16214,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2002.0,NaN,31067.659284,NaN
16215,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2003.0,NaN,31232.052480,NaN
16216,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2004.0,NaN,31924.305609,NaN
16217,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2005.0,NaN,31178.835390,NaN
16218,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2006.0,NaN,32287.242853,NaN
16219,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2007.0,NaN,27850.975313,NaN
16220,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2008.0,NaN,32074.317413,NaN
16221,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2009.0,NaN,33022.055034,NaN
16222,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2010.0,NaN,33347.113923,NaN
16223,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2011.0,NaN,32305.944826,NaN
16224,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2012.0,NaN,33348.143724,NaN
16225,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2013.0,NaN,33618.012134,NaN
16226,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2014.0,NaN,36652.252330,NaN
16227,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2015.0,NaN,36645.182825,NaN
16228,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2016.0,NaN,37014.156175,NaN
16229,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2017.0,NaN,40652.191603,NaN
16230,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2018.0,NaN,40702.048074,NaN
16231,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2019.0,NaN,40630.339482,NaN
16232,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2020.0,NaN,40805.712495,NaN
16233,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2021.0,NaN,40955.807638,NaN
16234,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2022.0,NaN,41182.241385,NaN
16235,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2023.0,NaN,41397.290107,NaN
16236,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2024.0,NaN,41602.683420,NaN
16237,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2025.0,NaN,41814.163075,NaN
16238,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2026.0,NaN,42021.977275,NaN
16239,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2027.0,NaN,42233.761475,NaN

In [80]:
row_concat.loc[0]

,Country/Region Name,Data Source,Element Name,FREQUENCY,Flag Codes,INDICATOR,LOCATION,MEASURE,Product Name,SUBJECT,TIME,Units,Value,Year
0,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,29.847000,2018/19
0,NaN,NaN,NaN,A,NaN,CROPYIELD,AUS,TONNE_HA,NaN,RICE,1990.0,NaN,5.374114,NaN

In [81]:
row_concat.iloc[0]

Country/Region Name         Argentina
Data Source                       CBS
Element Name                  Exports
FREQUENCY                         NaN
Flag Codes                        NaN
INDICATOR                         NaN
LOCATION                          NaN
MEASURE                           NaN
Product Name            COARSE GRAINS
SUBJECT                           NaN
TIME                              NaN
Units                  Million tonnes
Value                          29.847
Year                          2018/19
Name: 0, dtype: object

In [82]:
new_row = pd.Series(['n1', 'n2', 'n3', 'n4'])
new_row

0    n1
1    n2
2    n3
3    n4
dtype: object

In [83]:
pd.concat([df1, new_row])

,Data Source,Country/Region Name,Product Name,Element Name,Units,Year,Value,0
0,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2018/19,29.847000,NaN
1,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2017/18,28.733000,NaN
2,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2016/17,25.981412,NaN
3,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2015/16,22.059707,NaN
4,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2014/15,22.675300,NaN
5,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2013/14,15.944200,NaN
6,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2012/13,28.808000,NaN
7,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2011/12,21.599000,NaN
8,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2010/11,19.112000,NaN
9,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2009/10,14.888000,NaN
10,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2008/09,13.878000,NaN
11,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2007/08,16.746000,NaN
12,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2006/07,14.429000,NaN
13,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2005/06,11.927000,NaN
14,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2004/05,12.852000,NaN
15,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2003/04,10.340000,NaN
16,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2002/03,12.347000,NaN
17,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2001/02,9.584000,NaN
18,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2000/01,12.803000,NaN
19,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2018/19,28.977000,NaN
20,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2017/18,29.276510,NaN
21,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2016/17,24.399095,NaN
22,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2015/16,23.001030,NaN
23,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2014/15,19.697820,NaN
24,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2013/14,23.389770,NaN
25,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2012/13,23.847500,NaN
26,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2011/12,21.713000,NaN
27,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2010/11,19.899000,NaN
28,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2009/10,11.600000,NaN
29,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2008/09,20.381000,NaN
...,...,...,...,...,...,...,...,...
39881,CBS,World,Wheat,Utilization,Million tonnes,2006/07,622.249323,NaN
39882,CBS,World,Wheat,Utilization,Million tonnes,2005/06,623.472211,NaN
39883,CBS,World,Wheat,Utilization,Million tonnes,2004/05,617.046712,NaN
39884,CBS,World,Wheat,Utilization,Million tonnes,2003/04,600.525300,NaN
39885,CBS,World,Wheat,Utilization,Million tonnes,2002/03,610.844500,NaN
39886,CBS,World,Wheat,Utilization,Million tonnes,2001/02,601.903400,NaN
39887,CBS,World,Wheat,Utilization,Million tonnes,2000/01,590.202100,NaN
39888,CBS,World,Wheat,Yield,Tonnes/Ha,2018/19,3.345000,NaN
39889,CBS,World,Wheat,Yield,Tonnes/Ha,2017/18,3.446000,NaN
39890,CBS,World,Wheat,Yield,Tonnes/Ha,2016/17,3.430000,NaN
39891,CBS,World,Wheat,Yield,Tonnes/Ha,2015/16,3.321000,NaN
39892,CBS,World,Wheat,Yield,Tonnes/Ha,2014/15,3.297000,NaN
39893,CBS,World,Wheat,Yield,Tonnes/Ha,2013/14,3.241000,NaN
39894,CBS,World,Wheat,Yield,Tonnes/Ha,2012/13,2.995000,NaN
39895,CBS,World,Wheat,Yield,Tonnes/Ha,2011/12,3.157000,NaN
39896,CBS,World,Wheat,Yield,Tonnes/Ha,2010/11,2.942000,NaN
39897,CBS,World,Wheat,Yield,Tonnes/Ha,2009/10,3.026000,NaN
39898,CBS,World,Wheat,Yield,Tonnes/Ha,2008/09,3.032000,NaN
39899,CBS,World,Wheat,Yield,Tonnes/Ha,2007/08,2.811000,NaN
39900,CBS,World,Wheat,Yield,Tonnes/Ha,2006/07,2.792000,NaN
39901,CBS,World,Wheat,Yield,Tonnes/Ha,2005/06,2.841000,NaN
39902,CBS,World,Wheat,Yield,Tonnes/Ha,2004/05,2.892000,NaN
39903,CBS,World,Wheat,Yield,Tonnes/Ha,2003/04,2.679000,NaN
39904,CBS,World,Wheat,Yield,Tonnes/Ha,2002/03,2.668000,NaN
39905,CBS,World,Wheat,Yield,Tonnes/Ha,2001/02,2.734000,NaN
39906,CBS,World,Wheat,Yield,Tonnes/Ha,2000/01,2.701000,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n2
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n3
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n4

In [84]:
                          # note the double bracket
new_row_2 = pd.DataFrame([['n1', 'n2', 'n3', 'n4']],
                        columns = ['A', 'B', 'D', 'C'])
new_row_2

    A   B   D   C
0  n1  n2  n3  n4

In [85]:
pd.concat([df1, new_row_2])

/srv/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,A,B,C,Country/Region Name,D,Data Source,Element Name,Product Name,Units,Value,Year
0,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,29.847000,2018/19
1,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,28.733000,2017/18
2,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,25.981412,2016/17
3,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,22.059707,2015/16
4,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,22.675300,2014/15
5,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,15.944200,2013/14
6,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,28.808000,2012/13
7,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,21.599000,2011/12
8,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,19.112000,2010/11
9,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,14.888000,2009/10
10,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,13.878000,2008/09
11,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,16.746000,2007/08
12,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,14.429000,2006/07
13,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,11.927000,2005/06
14,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,12.852000,2004/05
15,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,10.340000,2003/04
16,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,12.347000,2002/03
17,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,9.584000,2001/02
18,NaN,NaN,NaN,Argentina,NaN,CBS,Exports,COARSE GRAINS,Million tonnes,12.803000,2000/01
19,NaN,NaN,NaN,Argentina,NaN,CBS,Exports (NMY),COARSE GRAINS,Million tonnes,28.977000,2018/19
20,NaN,NaN,NaN,Argentina,NaN,CBS,Exports (NMY),COARSE GRAINS,Million tonnes,29.276510,2017/18
21,NaN,NaN,NaN,Argentina,NaN,CBS,Exports (NMY),COARSE GRAINS,Million tonnes,24.399095,2016/17
22,NaN,NaN,NaN,Argentina,NaN,CBS,Exports (NMY),COARSE GRAINS,Million tonnes,23.001030,2015/16
23,NaN,NaN,NaN,Argentina,NaN,CBS,Exports (NMY),COARSE GRAINS,Million tonnes,19.697820,2014/15
24,NaN,NaN,NaN,Argentina,NaN,CBS,Exports (NMY),COARSE GRAINS,Million tonnes,23.389770,2013/14
25,NaN,NaN,NaN,Argentina,NaN,CBS,Exports (NMY),COARSE GRAINS,Million tonnes,23.847500,2012/13
26,NaN,NaN,NaN,Argentina,NaN,CBS,Exports (NMY),COARSE GRAINS,Million tonnes,21.713000,2011/12
27,NaN,NaN,NaN,Argentina,NaN,CBS,Exports (NMY),COARSE GRAINS,Million tonnes,19.899000,2010/11
28,NaN,NaN,NaN,Argentina,NaN,CBS,Exports (NMY),COARSE GRAINS,Million tonnes,11.600000,2009/10
29,NaN,NaN,NaN,Argentina,NaN,CBS,Exports (NMY),COARSE GRAINS,Million tonnes,20.381000,2008/09
...,...,...,...,...,...,...,...,...,...,...,...
39878,NaN,NaN,NaN,World,NaN,CBS,Utilization,Wheat,Million tonnes,654.927738,2009/10
39879,NaN,NaN,NaN,World,NaN,CBS,Utilization,Wheat,Million tonnes,647.223158,2008/09
39880,NaN,NaN,NaN,World,NaN,CBS,Utilization,Wheat,Million tonnes,619.798574,2007/08
39881,NaN,NaN,NaN,World,NaN,CBS,Utilization,Wheat,Million tonnes,622.249323,2006/07
39882,NaN,NaN,NaN,World,NaN,CBS,Utilization,Wheat,Million tonnes,623.472211,2005/06
39883,NaN,NaN,NaN,World,NaN,CBS,Utilization,Wheat,Million tonnes,617.046712,2004/05
39884,NaN,NaN,NaN,World,NaN,CBS,Utilization,Wheat,Million tonnes,600.525300,2003/04
39885,NaN,NaN,NaN,World,NaN,CBS,Utilization,Wheat,Million tonnes,610.844500,2002/03
39886,NaN,NaN,NaN,World,NaN,CBS,Utilization,Wheat,Million tonnes,601.903400,2001/02
39887,NaN,NaN,NaN,World,NaN,CBS,Utilization,Wheat,Million tonnes,590.202100,2000/01
39888,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,3.345000,2018/19
39889,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,3.446000,2017/18
39890,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,3.430000,2016/17
39891,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,3.321000,2015/16
39892,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,3.297000,2014/15
39893,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,3.241000,2013/14
39894,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,2.995000,2012/13
39895,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,3.157000,2011/12
39896,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,2.942000,2010/11
39897,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,3.026000,2009/10
39898,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,3.032000,2008/09
39899,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,2.811000,2007/08
39900,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,2.792000,2006/07
39901,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,2.841000,2005/06
39902,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,2.892000,2004/05
39903,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,2.679000,2003/04
39904,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,2.668000,2002/03
39905,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,2.734000,2001/02
39906,NaN,NaN,NaN,World,NaN,CBS,Yield,Wheat,Tonnes/Ha,2.701000,2000/01
0,n1,n2,n4,NaN,n3,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
new_row_3 = pd.DataFrame([['n1', 'n2', 'n3', 'n4', 'n5']],
                        columns = ['A', 'B', 'D', 'E', 'Z'])
new_row_3

    A   B   D   E   Z
0  n1  n2  n3  n4  n5

In [87]:
pd.concat([df1, new_row_3])

/srv/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,A,B,Country/Region Name,D,Data Source,E,Element Name,Product Name,Units,Value,Year,Z
0,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,29.847000,2018/19,NaN
1,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,28.733000,2017/18,NaN
2,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,25.981412,2016/17,NaN
3,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,22.059707,2015/16,NaN
4,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,22.675300,2014/15,NaN
5,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,15.944200,2013/14,NaN
6,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,28.808000,2012/13,NaN
7,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,21.599000,2011/12,NaN
8,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,19.112000,2010/11,NaN
9,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,14.888000,2009/10,NaN
10,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,13.878000,2008/09,NaN
11,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,16.746000,2007/08,NaN
12,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,14.429000,2006/07,NaN
13,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,11.927000,2005/06,NaN
14,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,12.852000,2004/05,NaN
15,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,10.340000,2003/04,NaN
16,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,12.347000,2002/03,NaN
17,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,9.584000,2001/02,NaN
18,NaN,NaN,Argentina,NaN,CBS,NaN,Exports,COARSE GRAINS,Million tonnes,12.803000,2000/01,NaN
19,NaN,NaN,Argentina,NaN,CBS,NaN,Exports (NMY),COARSE GRAINS,Million tonnes,28.977000,2018/19,NaN
20,NaN,NaN,Argentina,NaN,CBS,NaN,Exports (NMY),COARSE GRAINS,Million tonnes,29.276510,2017/18,NaN
21,NaN,NaN,Argentina,NaN,CBS,NaN,Exports (NMY),COARSE GRAINS,Million tonnes,24.399095,2016/17,NaN
22,NaN,NaN,Argentina,NaN,CBS,NaN,Exports (NMY),COARSE GRAINS,Million tonnes,23.001030,2015/16,NaN
23,NaN,NaN,Argentina,NaN,CBS,NaN,Exports (NMY),COARSE GRAINS,Million tonnes,19.697820,2014/15,NaN
24,NaN,NaN,Argentina,NaN,CBS,NaN,Exports (NMY),COARSE GRAINS,Million tonnes,23.389770,2013/14,NaN
25,NaN,NaN,Argentina,NaN,CBS,NaN,Exports (NMY),COARSE GRAINS,Million tonnes,23.847500,2012/13,NaN
26,NaN,NaN,Argentina,NaN,CBS,NaN,Exports (NMY),COARSE GRAINS,Million tonnes,21.713000,2011/12,NaN
27,NaN,NaN,Argentina,NaN,CBS,NaN,Exports (NMY),COARSE GRAINS,Million tonnes,19.899000,2010/11,NaN
28,NaN,NaN,Argentina,NaN,CBS,NaN,Exports (NMY),COARSE GRAINS,Million tonnes,11.600000,2009/10,NaN
29,NaN,NaN,Argentina,NaN,CBS,NaN,Exports (NMY),COARSE GRAINS,Million tonnes,20.381000,2008/09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
39878,NaN,NaN,World,NaN,CBS,NaN,Utilization,Wheat,Million tonnes,654.927738,2009/10,NaN
39879,NaN,NaN,World,NaN,CBS,NaN,Utilization,Wheat,Million tonnes,647.223158,2008/09,NaN
39880,NaN,NaN,World,NaN,CBS,NaN,Utilization,Wheat,Million tonnes,619.798574,2007/08,NaN
39881,NaN,NaN,World,NaN,CBS,NaN,Utilization,Wheat,Million tonnes,622.249323,2006/07,NaN
39882,NaN,NaN,World,NaN,CBS,NaN,Utilization,Wheat,Million tonnes,623.472211,2005/06,NaN
39883,NaN,NaN,World,NaN,CBS,NaN,Utilization,Wheat,Million tonnes,617.046712,2004/05,NaN
39884,NaN,NaN,World,NaN,CBS,NaN,Utilization,Wheat,Million tonnes,600.525300,2003/04,NaN
39885,NaN,NaN,World,NaN,CBS,NaN,Utilization,Wheat,Million tonnes,610.844500,2002/03,NaN
39886,NaN,NaN,World,NaN,CBS,NaN,Utilization,Wheat,Million tonnes,601.903400,2001/02,NaN
39887,NaN,NaN,World,NaN,CBS,NaN,Utilization,Wheat,Million tonnes,590.202100,2000/01,NaN
39888,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,3.345000,2018/19,NaN
39889,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,3.446000,2017/18,NaN
39890,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,3.430000,2016/17,NaN
39891,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,3.321000,2015/16,NaN
39892,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,3.297000,2014/15,NaN
39893,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,3.241000,2013/14,NaN
39894,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,2.995000,2012/13,NaN
39895,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,3.157000,2011/12,NaN
39896,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,2.942000,2010/11,NaN
39897,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,3.026000,2009/10,NaN
39898,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,3.032000,2008/09,NaN
39899,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,2.811000,2007/08,NaN
39900,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,2.792000,2006/07,NaN
39901,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,2.841000,2005/06,NaN
39902,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,2.892000,2004/05,NaN
39903,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,2.679000,2003/04,NaN
39904,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,2.668000,2002/03,NaN
39905,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,2.734000,2001/02,NaN
39906,NaN,NaN,World,NaN,CBS,NaN,Yield,Wheat,Tonnes/Ha,2.701000,2000/01,NaN
0,n1,n2,NaN,n3,NaN,n4,NaN,NaN,NaN,NaN,NaN,n5

In [88]:
#col_concat = pd.concat([df1, df2, df3], axis=1)
col_concat = pd.concat([df1, df2], axis=1)
col_concat

,Data Source,Country/Region Name,Product Name,Element Name,Units,Year,Value,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2018/19,29.847000,AUS,CROPYIELD,RICE,TONNE_HA,A,1990.0,5.374114,NaN
1,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2017/18,28.733000,AUS,CROPYIELD,RICE,TONNE_HA,A,1991.0,5.374114,NaN
2,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2016/17,25.981412,AUS,CROPYIELD,RICE,TONNE_HA,A,1992.0,5.897753,NaN
3,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2015/16,22.059707,AUS,CROPYIELD,RICE,TONNE_HA,A,1993.0,5.903150,NaN
4,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2014/15,22.675300,AUS,CROPYIELD,RICE,TONNE_HA,A,1994.0,5.221311,NaN
5,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2013/14,15.944200,AUS,CROPYIELD,RICE,TONNE_HA,A,1995.0,5.457576,NaN
6,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2012/13,28.808000,AUS,CROPYIELD,RICE,TONNE_HA,A,1996.0,5.925000,NaN
7,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2011/12,21.599000,AUS,CROPYIELD,RICE,TONNE_HA,A,1997.0,4.257047,NaN
8,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2010/11,19.112000,AUS,CROPYIELD,RICE,TONNE_HA,A,1998.0,5.545181,NaN
9,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2009/10,14.888000,AUS,CROPYIELD,RICE,TONNE_HA,A,1999.0,6.270739,NaN
10,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2008/09,13.878000,AUS,CROPYIELD,RICE,TONNE_HA,A,2000.0,5.924013,NaN
11,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2007/08,16.746000,AUS,CROPYIELD,RICE,TONNE_HA,A,2001.0,5.506511,NaN
12,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2006/07,14.429000,AUS,CROPYIELD,RICE,TONNE_HA,A,2002.0,6.191418,NaN
13,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2005/06,11.927000,AUS,CROPYIELD,RICE,TONNE_HA,A,2003.0,5.521278,NaN
14,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2004/05,12.852000,AUS,CROPYIELD,RICE,TONNE_HA,A,2004.0,6.380197,NaN
15,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2003/04,10.340000,AUS,CROPYIELD,RICE,TONNE_HA,A,2005.0,5.555994,NaN
16,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2002/03,12.347000,AUS,CROPYIELD,RICE,TONNE_HA,A,2006.0,4.414967,NaN
17,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2001/02,9.584000,AUS,CROPYIELD,RICE,TONNE_HA,A,2007.0,6.556218,NaN
18,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2000/01,12.803000,AUS,CROPYIELD,RICE,TONNE_HA,A,2008.0,5.436050,NaN
19,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2018/19,28.977000,AUS,CROPYIELD,RICE,TONNE_HA,A,2009.0,5.558334,NaN
20,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2017/18,29.276510,AUS,CROPYIELD,RICE,TONNE_HA,A,2010.0,5.643453,NaN
21,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2016/17,24.399095,AUS,CROPYIELD,RICE,TONNE_HA,A,2011.0,6.940944,NaN
22,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2015/16,23.001030,AUS,CROPYIELD,RICE,TONNE_HA,A,2012.0,6.345276,NaN
23,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2014/15,19.697820,AUS,CROPYIELD,RICE,TONNE_HA,A,2013.0,5.943481,NaN
24,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2013/14,23.389770,AUS,CROPYIELD,RICE,TONNE_HA,A,2014.0,6.852982,NaN
25,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2012/13,23.847500,AUS,CROPYIELD,RICE,TONNE_HA,A,2015.0,7.283640,NaN
26,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2011/12,21.713000,AUS,CROPYIELD,RICE,TONNE_HA,A,2016.0,6.610538,NaN
27,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2010/11,19.899000,AUS,CROPYIELD,RICE,TONNE_HA,A,2017.0,7.267326,NaN
28,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2009/10,11.600000,AUS,CROPYIELD,RICE,TONNE_HA,A,2018.0,6.791594,NaN
29,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2008/09,20.381000,AUS,CROPYIELD,RICE,TONNE_HA,A,2019.0,6.859590,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39877,CBS,World,Wheat,Utilization,Million tonnes,2010/11,656.738848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39878,CBS,World,Wheat,Utilization,Million tonnes,2009/10,654.927738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39879,CBS,World,Wheat,Utilization,Million tonnes,2008/09,647.223158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39880,CBS,World,Wheat,Utilization,Million tonnes,2007/08,619.798574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39881,CBS,World,Wheat,Utilization,Million tonnes,2006/07,622.249323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39882,CBS,World,Wheat,Utilization,Million tonnes,2005/06,623.472211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39883,CBS,World,Wheat,Utilization,Million tonnes,2004/05,617.046712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39884,CBS,World,Wheat,Utilization,Million tonnes,2003/04,600.525300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39885,CBS,World,Wheat,Utilization,Million tonnes,2002/03,610.844500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39886,CBS,World,Wheat,Utilization,Million tonnes,2001/02,601.903400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39887,CBS,World,Wheat,Utilization,Million tonnes,2000/01,590.202100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39888,CBS,World,Wheat,Yield,Tonnes/Ha,2018/19,3.345000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39889,CBS,World,Wheat,Yield,Tonnes/Ha,2017/18,3.446000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39890,CBS,World,Wheat,Yield,Tonnes/Ha,2016/17,3.430000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39891,CBS,World,Wheat,Yield,Tonnes/Ha,2015/16,3.321000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39892,CBS,World,Wheat,Yield,Tonnes/Ha,2014/15,3.297000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39893,CBS,World,Wheat,Yield,Tonnes/Ha,2013/14,3.241000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39894,CBS,World,Wheat,Yield,Tonnes/Ha,2012/13,2.995000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39895,CBS,World,Wheat,Yield,Tonnes/Ha,2011/12,3.157000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39896,CBS,World,Wheat,Yield,Tonnes/Ha,2010/11,2.942000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39897,CBS,World,Wheat,Yield,Tonnes/Ha,2009/10,3.026000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39898,CBS,World,Wheat,Yield,Tonnes/Ha,2008/09,3.032000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39899,CBS,World,Wheat,Yield,Tonnes/Ha,2007/08,2.811000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39900,CBS,World,Wheat,Yield,Tonnes/Ha,2006/07,2.792000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39901,CBS,World,Wheat,Yield,Tonnes/Ha,2005/06,2.841000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39902,CBS,World,Wheat,Yield,Tonnes/Ha,2004/05,2.892000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39903,CBS,World,Wheat,Yield,Tonnes/Ha,2003/04,2.679000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39904,CBS,World,Wheat,Yield,Tonnes/Ha,2002/03,2.668000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39905,CBS,World,Wheat,Yield,Tonnes/Ha,2001/02,2.734000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39906,CBS,World,Wheat,Yield,Tonnes/Ha,2000/01,2.701000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
col_concat['Data Source']

0        CBS
1        CBS
2        CBS
3        CBS
4        CBS
5        CBS
6        CBS
7        CBS
8        CBS
9        CBS
10       CBS
11       CBS
12       CBS
13       CBS
14       CBS
15       CBS
16       CBS
17       CBS
18       CBS
19       CBS
20       CBS
21       CBS
22       CBS
23       CBS
24       CBS
25       CBS
26       CBS
27       CBS
28       CBS
29       CBS
        ...
39877    CBS
39878    CBS
39879    CBS
39880    CBS
39881    CBS
39882    CBS
39883    CBS
39884    CBS
39885    CBS
39886    CBS
39887    CBS
39888    CBS
39889    CBS
39890    CBS
39891    CBS
39892    CBS
39893    CBS
39894    CBS
39895    CBS
39896    CBS
39897    CBS
39898    CBS
39899    CBS
39900    CBS
39901    CBS
39902    CBS
39903    CBS
39904    CBS
39905    CBS
39906    CBS
Name: Data Source, Length: 39907, dtype: object

In [90]:
df1.columns

Index(['Data Source', 'Country/Region Name', 'Product Name', 'Element Name',
       'Units', 'Year', 'Value'],
      dtype='object')

In [91]:
df2.columns

Index(['LOCATION', 'INDICATOR', 'SUBJECT', 'MEASURE', 'FREQUENCY', 'TIME',
       'Value', 'Flag Codes'],
      dtype='object')

In [92]:
df1.columns = ['Data Source', 'Country/Region Name', 'Product Name', 'Element Name',
       'Units', 'Year', 'Value']
df2.columns = ['LOCATION', 'INDICATOR', 'SUBJECT', 'MEASURE', 'FREQUENCY', 'TIME',
       'Value', 'Flag Codes']

In [93]:
df1

,Data Source,Country/Region Name,Product Name,Element Name,Units,Year,Value
0,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2018/19,29.847000
1,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2017/18,28.733000
2,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2016/17,25.981412
3,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2015/16,22.059707
4,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2014/15,22.675300
5,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2013/14,15.944200
6,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2012/13,28.808000
7,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2011/12,21.599000
8,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2010/11,19.112000
9,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2009/10,14.888000
10,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2008/09,13.878000
11,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2007/08,16.746000
12,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2006/07,14.429000
13,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2005/06,11.927000
14,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2004/05,12.852000
15,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2003/04,10.340000
16,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2002/03,12.347000
17,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2001/02,9.584000
18,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2000/01,12.803000
19,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2018/19,28.977000
20,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2017/18,29.276510
21,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2016/17,24.399095
22,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2015/16,23.001030
23,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2014/15,19.697820
24,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2013/14,23.389770
25,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2012/13,23.847500
26,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2011/12,21.713000
27,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2010/11,19.899000
28,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2009/10,11.600000
29,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2008/09,20.381000
...,...,...,...,...,...,...,...
39877,CBS,World,Wheat,Utilization,Million tonnes,2010/11,656.738848
39878,CBS,World,Wheat,Utilization,Million tonnes,2009/10,654.927738
39879,CBS,World,Wheat,Utilization,Million tonnes,2008/09,647.223158
39880,CBS,World,Wheat,Utilization,Million tonnes,2007/08,619.798574
39881,CBS,World,Wheat,Utilization,Million tonnes,2006/07,622.249323
39882,CBS,World,Wheat,Utilization,Million tonnes,2005/06,623.472211
39883,CBS,World,Wheat,Utilization,Million tonnes,2004/05,617.046712
39884,CBS,World,Wheat,Utilization,Million tonnes,2003/04,600.525300
39885,CBS,World,Wheat,Utilization,Million tonnes,2002/03,610.844500
39886,CBS,World,Wheat,Utilization,Million tonnes,2001/02,601.903400
39887,CBS,World,Wheat,Utilization,Million tonnes,2000/01,590.202100
39888,CBS,World,Wheat,Yield,Tonnes/Ha,2018/19,3.345000
39889,CBS,World,Wheat,Yield,Tonnes/Ha,2017/18,3.446000
39890,CBS,World,Wheat,Yield,Tonnes/Ha,2016/17,3.430000
39891,CBS,World,Wheat,Yield,Tonnes/Ha,2015/16,3.321000
39892,CBS,World,Wheat,Yield,Tonnes/Ha,2014/15,3.297000
39893,CBS,World,Wheat,Yield,Tonnes/Ha,2013/14,3.241000
39894,CBS,World,Wheat,Yield,Tonnes/Ha,2012/13,2.995000
39895,CBS,World,Wheat,Yield,Tonnes/Ha,2011/12,3.157000
39896,CBS,World,Wheat,Yield,Tonnes/Ha,2010/11,2.942000
39897,CBS,World,Wheat,Yield,Tonnes/Ha,2009/10,3.026000
39898,CBS,World,Wheat,Yield,Tonnes/Ha,2008/09,3.032000
39899,CBS,World,Wheat,Yield,Tonnes/Ha,2007/08,2.811000
39900,CBS,World,Wheat,Yield,Tonnes/Ha,2006/07,2.792000
39901,CBS,World,Wheat,Yield,Tonnes/Ha,2005/06,2.841000
39902,CBS,World,Wheat,Yield,Tonnes/Ha,2004/05,2.892000
39903,CBS,World,Wheat,Yield,Tonnes/Ha,2003/04,2.679000
39904,CBS,World,Wheat,Yield,Tonnes/Ha,2002/03,2.668000
39905,CBS,World,Wheat,Yield,Tonnes/Ha,2001/02,2.734000
39906,CBS,World,Wheat,Yield,Tonnes/Ha,2000/01,2.701000

In [94]:
df2

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,CROPYIELD,RICE,TONNE_HA,A,1990,5.374114,NaN
1,AUS,CROPYIELD,RICE,TONNE_HA,A,1991,5.374114,NaN
2,AUS,CROPYIELD,RICE,TONNE_HA,A,1992,5.897753,NaN
3,AUS,CROPYIELD,RICE,TONNE_HA,A,1993,5.903150,NaN
4,AUS,CROPYIELD,RICE,TONNE_HA,A,1994,5.221311,NaN
5,AUS,CROPYIELD,RICE,TONNE_HA,A,1995,5.457576,NaN
6,AUS,CROPYIELD,RICE,TONNE_HA,A,1996,5.925000,NaN
7,AUS,CROPYIELD,RICE,TONNE_HA,A,1997,4.257047,NaN
8,AUS,CROPYIELD,RICE,TONNE_HA,A,1998,5.545181,NaN
9,AUS,CROPYIELD,RICE,TONNE_HA,A,1999,6.270739,NaN
10,AUS,CROPYIELD,RICE,TONNE_HA,A,2000,5.924013,NaN
11,AUS,CROPYIELD,RICE,TONNE_HA,A,2001,5.506511,NaN
12,AUS,CROPYIELD,RICE,TONNE_HA,A,2002,6.191418,NaN
13,AUS,CROPYIELD,RICE,TONNE_HA,A,2003,5.521278,NaN
14,AUS,CROPYIELD,RICE,TONNE_HA,A,2004,6.380197,NaN
15,AUS,CROPYIELD,RICE,TONNE_HA,A,2005,5.555994,NaN
16,AUS,CROPYIELD,RICE,TONNE_HA,A,2006,4.414967,NaN
17,AUS,CROPYIELD,RICE,TONNE_HA,A,2007,6.556218,NaN
18,AUS,CROPYIELD,RICE,TONNE_HA,A,2008,5.436050,NaN
19,AUS,CROPYIELD,RICE,TONNE_HA,A,2009,5.558334,NaN
20,AUS,CROPYIELD,RICE,TONNE_HA,A,2010,5.643453,NaN
21,AUS,CROPYIELD,RICE,TONNE_HA,A,2011,6.940944,NaN
22,AUS,CROPYIELD,RICE,TONNE_HA,A,2012,6.345276,NaN
23,AUS,CROPYIELD,RICE,TONNE_HA,A,2013,5.943481,NaN
24,AUS,CROPYIELD,RICE,TONNE_HA,A,2014,6.852982,NaN
25,AUS,CROPYIELD,RICE,TONNE_HA,A,2015,7.283640,NaN
26,AUS,CROPYIELD,RICE,TONNE_HA,A,2016,6.610538,NaN
27,AUS,CROPYIELD,RICE,TONNE_HA,A,2017,7.267326,NaN
28,AUS,CROPYIELD,RICE,TONNE_HA,A,2018,6.791594,NaN
29,AUS,CROPYIELD,RICE,TONNE_HA,A,2019,6.859590,NaN
...,...,...,...,...,...,...,...,...
16210,OECD,CROPYIELD,SOYBEAN,THND_HA,A,1998,30573.711455,NaN
16211,OECD,CROPYIELD,SOYBEAN,THND_HA,A,1999,31225.734814,NaN
16212,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2000,31235.022753,NaN
16213,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2001,31440.092696,NaN
16214,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2002,31067.659284,NaN
16215,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2003,31232.052480,NaN
16216,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2004,31924.305609,NaN
16217,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2005,31178.835390,NaN
16218,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2006,32287.242853,NaN
16219,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2007,27850.975313,NaN
16220,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2008,32074.317413,NaN
16221,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2009,33022.055034,NaN
16222,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2010,33347.113923,NaN
16223,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2011,32305.944826,NaN
16224,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2012,33348.143724,NaN
16225,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2013,33618.012134,NaN
16226,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2014,36652.252330,NaN
16227,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2015,36645.182825,NaN
16228,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2016,37014.156175,NaN
16229,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2017,40652.191603,NaN
16230,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2018,40702.048074,NaN
16231,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2019,40630.339482,NaN
16232,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2020,40805.712495,NaN
16233,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2021,40955.807638,NaN
16234,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2022,41182.241385,NaN
16235,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2023,41397.290107,NaN
16236,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2024,41602.683420,NaN
16237,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2025,41814.163075,NaN
16238,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2026,42021.977275,NaN
16239,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2027,42233.761475,NaN

In [95]:
pd.concat([df1, df2])

/srv/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Country/Region Name,Data Source,Element Name,FREQUENCY,Flag Codes,INDICATOR,LOCATION,MEASURE,Product Name,SUBJECT,TIME,Units,Value,Year
0,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,29.847000,2018/19
1,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,28.733000,2017/18
2,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,25.981412,2016/17
3,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,22.059707,2015/16
4,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,22.675300,2014/15
5,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,15.944200,2013/14
6,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,28.808000,2012/13
7,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,21.599000,2011/12
8,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,19.112000,2010/11
9,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,14.888000,2009/10
10,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,13.878000,2008/09
11,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,16.746000,2007/08
12,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,14.429000,2006/07
13,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,11.927000,2005/06
14,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,12.852000,2004/05
15,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,10.340000,2003/04
16,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,12.347000,2002/03
17,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,9.584000,2001/02
18,Argentina,CBS,Exports,NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,12.803000,2000/01
19,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,28.977000,2018/19
20,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,29.276510,2017/18
21,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,24.399095,2016/17
22,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,23.001030,2015/16
23,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,19.697820,2014/15
24,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,23.389770,2013/14
25,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,23.847500,2012/13
26,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,21.713000,2011/12
27,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,19.899000,2010/11
28,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,11.600000,2009/10
29,Argentina,CBS,Exports (NMY),NaN,NaN,NaN,NaN,NaN,COARSE GRAINS,NaN,NaN,Million tonnes,20.381000,2008/09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16210,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,1998.0,NaN,30573.711455,NaN
16211,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,1999.0,NaN,31225.734814,NaN
16212,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2000.0,NaN,31235.022753,NaN
16213,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2001.0,NaN,31440.092696,NaN
16214,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2002.0,NaN,31067.659284,NaN
16215,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2003.0,NaN,31232.052480,NaN
16216,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2004.0,NaN,31924.305609,NaN
16217,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2005.0,NaN,31178.835390,NaN
16218,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2006.0,NaN,32287.242853,NaN
16219,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2007.0,NaN,27850.975313,NaN
16220,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2008.0,NaN,32074.317413,NaN
16221,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2009.0,NaN,33022.055034,NaN
16222,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2010.0,NaN,33347.113923,NaN
16223,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2011.0,NaN,32305.944826,NaN
16224,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2012.0,NaN,33348.143724,NaN
16225,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2013.0,NaN,33618.012134,NaN
16226,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2014.0,NaN,36652.252330,NaN
16227,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2015.0,NaN,36645.182825,NaN
16228,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2016.0,NaN,37014.156175,NaN
16229,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2017.0,NaN,40652.191603,NaN
16230,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2018.0,NaN,40702.048074,NaN
16231,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2019.0,NaN,40630.339482,NaN
16232,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2020.0,NaN,40805.712495,NaN
16233,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2021.0,NaN,40955.807638,NaN
16234,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2022.0,NaN,41182.241385,NaN
16235,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2023.0,NaN,41397.290107,NaN
16236,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2024.0,NaN,41602.683420,NaN
16237,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2025.0,NaN,41814.163075,NaN
16238,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2026.0,NaN,42021.977275,NaN
16239,NaN,NaN,NaN,A,NaN,CROPYIELD,OECD,THND_HA,NaN,SOYBEAN,2027.0,NaN,42233.761475,NaN

In [101]:
# df1.index = [0, 2, 5, 7]
# df1.index = [2]

In [98]:
df1

,Data Source,Country/Region Name,Product Name,Element Name,Units,Year,Value
0,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2018/19,29.847000
1,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2017/18,28.733000
2,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2016/17,25.981412
3,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2015/16,22.059707
4,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2014/15,22.675300
5,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2013/14,15.944200
6,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2012/13,28.808000
7,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2011/12,21.599000
8,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2010/11,19.112000
9,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2009/10,14.888000
10,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2008/09,13.878000
11,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2007/08,16.746000
12,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2006/07,14.429000
13,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2005/06,11.927000
14,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2004/05,12.852000
15,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2003/04,10.340000
16,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2002/03,12.347000
17,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2001/02,9.584000
18,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2000/01,12.803000
19,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2018/19,28.977000
20,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2017/18,29.276510
21,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2016/17,24.399095
22,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2015/16,23.001030
23,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2014/15,19.697820
24,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2013/14,23.389770
25,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2012/13,23.847500
26,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2011/12,21.713000
27,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2010/11,19.899000
28,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2009/10,11.600000
29,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2008/09,20.381000
...,...,...,...,...,...,...,...
39877,CBS,World,Wheat,Utilization,Million tonnes,2010/11,656.738848
39878,CBS,World,Wheat,Utilization,Million tonnes,2009/10,654.927738
39879,CBS,World,Wheat,Utilization,Million tonnes,2008/09,647.223158
39880,CBS,World,Wheat,Utilization,Million tonnes,2007/08,619.798574
39881,CBS,World,Wheat,Utilization,Million tonnes,2006/07,622.249323
39882,CBS,World,Wheat,Utilization,Million tonnes,2005/06,623.472211
39883,CBS,World,Wheat,Utilization,Million tonnes,2004/05,617.046712
39884,CBS,World,Wheat,Utilization,Million tonnes,2003/04,600.525300
39885,CBS,World,Wheat,Utilization,Million tonnes,2002/03,610.844500
39886,CBS,World,Wheat,Utilization,Million tonnes,2001/02,601.903400
39887,CBS,World,Wheat,Utilization,Million tonnes,2000/01,590.202100
39888,CBS,World,Wheat,Yield,Tonnes/Ha,2018/19,3.345000
39889,CBS,World,Wheat,Yield,Tonnes/Ha,2017/18,3.446000
39890,CBS,World,Wheat,Yield,Tonnes/Ha,2016/17,3.430000
39891,CBS,World,Wheat,Yield,Tonnes/Ha,2015/16,3.321000
39892,CBS,World,Wheat,Yield,Tonnes/Ha,2014/15,3.297000
39893,CBS,World,Wheat,Yield,Tonnes/Ha,2013/14,3.241000
39894,CBS,World,Wheat,Yield,Tonnes/Ha,2012/13,2.995000
39895,CBS,World,Wheat,Yield,Tonnes/Ha,2011/12,3.157000
39896,CBS,World,Wheat,Yield,Tonnes/Ha,2010/11,2.942000
39897,CBS,World,Wheat,Yield,Tonnes/Ha,2009/10,3.026000
39898,CBS,World,Wheat,Yield,Tonnes/Ha,2008/09,3.032000
39899,CBS,World,Wheat,Yield,Tonnes/Ha,2007/08,2.811000
39900,CBS,World,Wheat,Yield,Tonnes/Ha,2006/07,2.792000
39901,CBS,World,Wheat,Yield,Tonnes/Ha,2005/06,2.841000
39902,CBS,World,Wheat,Yield,Tonnes/Ha,2004/05,2.892000
39903,CBS,World,Wheat,Yield,Tonnes/Ha,2003/04,2.679000
39904,CBS,World,Wheat,Yield,Tonnes/Ha,2002/03,2.668000
39905,CBS,World,Wheat,Yield,Tonnes/Ha,2001/02,2.734000
39906,CBS,World,Wheat,Yield,Tonnes/Ha,2000/01,2.701000

In [99]:
pd.concat([df1, df2], axis=1)

,Data Source,Country/Region Name,Product Name,Element Name,Units,Year,Value,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2018/19,29.847000,AUS,CROPYIELD,RICE,TONNE_HA,A,1990.0,5.374114,NaN
1,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2017/18,28.733000,AUS,CROPYIELD,RICE,TONNE_HA,A,1991.0,5.374114,NaN
2,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2016/17,25.981412,AUS,CROPYIELD,RICE,TONNE_HA,A,1992.0,5.897753,NaN
3,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2015/16,22.059707,AUS,CROPYIELD,RICE,TONNE_HA,A,1993.0,5.903150,NaN
4,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2014/15,22.675300,AUS,CROPYIELD,RICE,TONNE_HA,A,1994.0,5.221311,NaN
5,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2013/14,15.944200,AUS,CROPYIELD,RICE,TONNE_HA,A,1995.0,5.457576,NaN
6,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2012/13,28.808000,AUS,CROPYIELD,RICE,TONNE_HA,A,1996.0,5.925000,NaN
7,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2011/12,21.599000,AUS,CROPYIELD,RICE,TONNE_HA,A,1997.0,4.257047,NaN
8,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2010/11,19.112000,AUS,CROPYIELD,RICE,TONNE_HA,A,1998.0,5.545181,NaN
9,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2009/10,14.888000,AUS,CROPYIELD,RICE,TONNE_HA,A,1999.0,6.270739,NaN
10,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2008/09,13.878000,AUS,CROPYIELD,RICE,TONNE_HA,A,2000.0,5.924013,NaN
11,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2007/08,16.746000,AUS,CROPYIELD,RICE,TONNE_HA,A,2001.0,5.506511,NaN
12,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2006/07,14.429000,AUS,CROPYIELD,RICE,TONNE_HA,A,2002.0,6.191418,NaN
13,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2005/06,11.927000,AUS,CROPYIELD,RICE,TONNE_HA,A,2003.0,5.521278,NaN
14,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2004/05,12.852000,AUS,CROPYIELD,RICE,TONNE_HA,A,2004.0,6.380197,NaN
15,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2003/04,10.340000,AUS,CROPYIELD,RICE,TONNE_HA,A,2005.0,5.555994,NaN
16,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2002/03,12.347000,AUS,CROPYIELD,RICE,TONNE_HA,A,2006.0,4.414967,NaN
17,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2001/02,9.584000,AUS,CROPYIELD,RICE,TONNE_HA,A,2007.0,6.556218,NaN
18,CBS,Argentina,COARSE GRAINS,Exports,Million tonnes,2000/01,12.803000,AUS,CROPYIELD,RICE,TONNE_HA,A,2008.0,5.436050,NaN
19,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2018/19,28.977000,AUS,CROPYIELD,RICE,TONNE_HA,A,2009.0,5.558334,NaN
20,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2017/18,29.276510,AUS,CROPYIELD,RICE,TONNE_HA,A,2010.0,5.643453,NaN
21,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2016/17,24.399095,AUS,CROPYIELD,RICE,TONNE_HA,A,2011.0,6.940944,NaN
22,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2015/16,23.001030,AUS,CROPYIELD,RICE,TONNE_HA,A,2012.0,6.345276,NaN
23,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2014/15,19.697820,AUS,CROPYIELD,RICE,TONNE_HA,A,2013.0,5.943481,NaN
24,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2013/14,23.389770,AUS,CROPYIELD,RICE,TONNE_HA,A,2014.0,6.852982,NaN
25,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2012/13,23.847500,AUS,CROPYIELD,RICE,TONNE_HA,A,2015.0,7.283640,NaN
26,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2011/12,21.713000,AUS,CROPYIELD,RICE,TONNE_HA,A,2016.0,6.610538,NaN
27,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2010/11,19.899000,AUS,CROPYIELD,RICE,TONNE_HA,A,2017.0,7.267326,NaN
28,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2009/10,11.600000,AUS,CROPYIELD,RICE,TONNE_HA,A,2018.0,6.791594,NaN
29,CBS,Argentina,COARSE GRAINS,Exports (NMY),Million tonnes,2008/09,20.381000,AUS,CROPYIELD,RICE,TONNE_HA,A,2019.0,6.859590,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39877,CBS,World,Wheat,Utilization,Million tonnes,2010/11,656.738848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39878,CBS,World,Wheat,Utilization,Million tonnes,2009/10,654.927738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39879,CBS,World,Wheat,Utilization,Million tonnes,2008/09,647.223158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39880,CBS,World,Wheat,Utilization,Million tonnes,2007/08,619.798574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39881,CBS,World,Wheat,Utilization,Million tonnes,2006/07,622.249323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39882,CBS,World,Wheat,Utilization,Million tonnes,2005/06,623.472211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39883,CBS,World,Wheat,Utilization,Million tonnes,2004/05,617.046712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39884,CBS,World,Wheat,Utilization,Million tonnes,2003/04,600.525300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39885,CBS,World,Wheat,Utilization,Million tonnes,2002/03,610.844500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39886,CBS,World,Wheat,Utilization,Million tonnes,2001/02,601.903400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39887,CBS,World,Wheat,Utilization,Million tonnes,2000/01,590.202100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39888,CBS,World,Wheat,Yield,Tonnes/Ha,2018/19,3.345000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39889,CBS,World,Wheat,Yield,Tonnes/Ha,2017/18,3.446000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39890,CBS,World,Wheat,Yield,Tonnes/Ha,2016/17,3.430000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39891,CBS,World,Wheat,Yield,Tonnes/Ha,2015/16,3.321000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39892,CBS,World,Wheat,Yield,Tonnes/Ha,2014/15,3.297000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39893,CBS,World,Wheat,Yield,Tonnes/Ha,2013/14,3.241000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39894,CBS,World,Wheat,Yield,Tonnes/Ha,2012/13,2.995000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39895,CBS,World,Wheat,Yield,Tonnes/Ha,2011/12,3.157000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39896,CBS,World,Wheat,Yield,Tonnes/Ha,2010/11,2.942000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39897,CBS,World,Wheat,Yield,Tonnes/Ha,2009/10,3.026000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39898,CBS,World,Wheat,Yield,Tonnes/Ha,2008/09,3.032000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39899,CBS,World,Wheat,Yield,Tonnes/Ha,2007/08,2.811000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39900,CBS,World,Wheat,Yield,Tonnes/Ha,2006/07,2.792000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39901,CBS,World,Wheat,Yield,Tonnes/Ha,2005/06,2.841000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39902,CBS,World,Wheat,Yield,Tonnes/Ha,2004/05,2.892000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39903,CBS,World,Wheat,Yield,Tonnes/Ha,2003/04,2.679000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39904,CBS,World,Wheat,Yield,Tonnes/Ha,2002/03,2.668000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39905,CBS,World,Wheat,Yield,Tonnes/Ha,2001/02,2.734000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39906,CBS,World,Wheat,Yield,Tonnes/Ha,2000/01,2.701000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
person = pd.read_csv('../data/survey_person.csv')
site = pd.read_csv('../data/survey_site.csv')
survey = pd.read_csv('../data/survey_survey.csv')
visited = pd.read_csv('../data/survey_visited.csv')

In [ ]:
visited

In [ ]:
visited_subset = visited.iloc[[0, 2, 6], :]
visited_subset

In [ ]:
o2o = pd.merge(site, visited_subset,
              left_on=['name'], right_on='site')
o2o

In [ ]:
m = site.merge(visited, left_on='name', right_on='site')
m

In [ ]:
df3 = pd.DataFrame({
    'a': [1, 1, 1, 2, 2],
    'b': [10, 20, 30, 40, 50]
})

df4 = pd.DataFrame({
    'a1': [1, 1, 2, 2, 3],
    'b1': [100, 200, 300, 400, 500]
})

In [ ]:
df3

In [ ]:
df4

In [ ]:
df3.merge(df4, left_on='a', right_on='a1')

In [ ]:
df3.duplicated('a')